<div class="form-group">
    <label for="title">Titre:</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
    <label for="image">Image:</label>
    <input required type="url" name="image" id="image" class="form-control">

</div>
<div class="form-group">
    <label for="author_name">Auteur:</label>
    <input required type="text" name="author_name" id="author_name" class="form-control">

</div>
<div class="form-group">
    <label for="date">Date de Creation:</label>
    <input required type="date" name="date" id="date" class="form-control">

</div>

<div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description" id="description" class="form-control"></textarea>

</div>


<a href="/articles" class="btn btn-secondary">Annuler</a>
<button type="submit" class="btn btn-primary">Ajouter</button>