<h2>Modifier un article :</h2>
<form action="/articles/update/<%= formData.id %>" method="POST">
    <div class="row mb-3">
        <label for="title" class="col-sm-2 col-form-label">Titre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" value="<%= formData.title %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="image" class="col-sm-2 col-form-label">Lien de l'image</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="image" name="image" value="<%= formData.thumbnail_url %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="inputDesc" value="<%= formData.info %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="author_name" class="col-sm-2 col-form-label">Autheur</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="author_name" name="author_name" value="<%= formData.author_name %>">
        </div>
    </div>
    <div class="row mb-3">
        <label for="date" class="col-sm-2 col-form-label">Date:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="date" name="date" value="<%= formData.date %>">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>
<hr>