<!DOCTYPE html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container pb-5">
        <h1 class="text-center mt-3">Articles</h1>
        <h2>Liste des articles :</h2>
        <div class="row">
            <% articles.forEach(article => { %>
                <div class="card m-2 p-1 shadow-sm" style="width: 18rem;">
                    <img src="<%= article.thumbnail_url %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="h5 card-title">
                            <%= article.title %>

                                <!-- <span class="badge bg-secondary"><%= article.date %></span> -->
                                <span class="badge bg-secondary">BY: <%= article.author_name %></span>
                        </h3>
                        <div class="card-subtitl text-muted mb-2">
                            <span class="badge bg-secondary"><%= article.date %></span>
                        </div>
                        <p class="card-text">
                            <%= article.info %>
                        </p>
                        <!-- <% if(article.quantity > 0){ %>
                            <span class="badge bg-success">Disponible</span>
                            <% } else { %>
                                <span class="badge bg-danger">Indisponible</span>
                                <% } %> -->
                        <div class="d-print-none">
                            <a class="btn btn-sm btn-primary" href="/view/<%article.id %>">Consulter</a>
                            <a class="btn btn-sm btn-warning" href="/articles/<%= article.id %>">Modifier</a>
                            <a class="btn btn-sm btn-danger" href="/delete/<%article.id %>">Effacer</a>


                        </div>
                    </div>
                </div>
                <% }); %>


        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>