<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/navbar'); %>
    </header>

    <main class="container">
        <!-- Completer la page A propos -->
        <h1 class="text-center">Nouveau Article</h1>

        <form action="/articles/create" method="POST">
            <%- include('../partials/formfields.ejs'); %>
        </form>

        <p></p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>